:root {
    --dark-blue: #4A607A;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1165px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

.section-title {
    font-size: 48px;
    font-weight: normal;
    text-align: center;
    line-height: 72px;
    color: #fff;
}